<h2>Update Figure</h2>
<form action="/figures/<%= @figure.id %>" method="post">
  <label for="figure[name]">Figure Name: </label><input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>">
  <br><br>

  <h3>Titles:</h3>
  <br><br>

  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"
    <%= 'checked' if @figure.title_ids.include?(title.id)%>><%= title.name %></input>
  <% end %></p>
  <br><br>

  <h3>Or Create a new Title</h3>
  <label for="title[name]">New Title: </label><input type="text" name="title[name]" id="new_title">
  <br><br>

  <h3>Landmarks:</h3>
  <br><br>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"
    <%= 'checked' if @figure.landmark_ids.include?(landmark.id) %>><%= landmark.name %></input>
  <% end %>
  <br><br>

  <h3>And/Or Create a new Landmark:</h3>
  <br><br>
    <label for="landmark[name]">Landmark Name: </label><input type="text" name="landmark[name]" id="new_landmark">
    <input type="submit" value="Edit Figure">
</form>
