
 <form action="/figures" method="POST">
   Name of New Figure:
 <input id="figure_name" type="text" name="figure[name]">
<br><br>

Create a New Title:
<input id="new_title" type="text" name="title[name]">
<br><br>
<% Title.all.each do |title| %>
   <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
 <% end %>
<br><br>
Create a New Landmark:

<input id="new_landmark" type="text" name="landmark[name]">

<input id="landmark[year_completed]" type="text" name="landmark[year_completed]">

<br><br>
 <% Landmark.all.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input>
  <% end %>
<br><br>
   <input type="submit" value="Create New Figure">
 </form>
